<!-- 内容 -->
<div id="second-banner" data-big-img="/assets/banner3.jpg" data-small-img="/assets/banner3_small.jpg"></div>
<div class="container in-con gongcheng">
  <div class="in-con-main clearfix">
    <div class="col-sm-4">
      <div class="img"><a href=""><img class="full" src="/assets/d6.jpg"><div class="icon"><img src="/assets/icon04.png"></div></a></div>
      <h4>产品系列</h4>
      <p>完善强大的六大服务体系</p>
    </div>
    <div class="col-sm-4">
      <div class="img"><a href=""><img class="full" src="/assets/d7.jpg"><div class="icon"><img src="/assets/icon07.png"></div></a></div>
      <h4>战略合作伙伴</h4>
      <p>联手万达、万科等百强地产</p>
    </div>
    <div class="col-sm-4">
      <div class="img"><a href=""><img class="full" src="/assets/d8.jpg"><div class="icon"><img src="/assets/icon08.png"></div></a></div>
      <h4>精品工程</h4>
      <p>激情跨越，创造一个又一个辉煌</p>
    </div>
    <div class="col-sm-4">
      <div class="img"><a href=""><img class="full" src="/assets/d9.jpg"><div class="icon"><img src="/assets/icon09.png"></div></a></div>
      <h4>效果体验</h4>
      <p>线上最真实的色彩体验</p>
    </div>
    <div class="col-sm-4">
      <div class="img"><a href=""><img class="full" src="/assets/d10.jpg"><div class="icon"><img src="/assets/icon10.png"></div></a></div>
      <h4>感动服务</h4>
      <p>三棵树工程361服务体系</p>
    </div>
    <div class="col-sm-4">
      <div class="img"><a href=""><img class="full" src="/assets/d3.jpg"><div class="icon"><img src="/assets/icon06.png"></div></a></div>
      <h4>加盟合作</h4>
      <p>大牌崛起，热销中国</p>
    </div>
  </div>
</div>